*{  
    box-sizing: border-box;
}

/* --- FARBEN ---*/
:root {
  --orange:     #F35900;
  --blau-dunkel:#181819;
  --beige:      #CBBDA0;
  --weiss:      #F0EBE7;
  --grau-hell:  #CDCDCD;
  --grau-dunkel:#525252;
  --schwarz:    #000;
}


.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif;
  font-weight: 400;
  font-style: normal;
}


// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: var(--beige);
    margin: 0;
    padding: 0;
}