*{  
    box-sizing: border-box;
}

@font-face {
   font-family:"Digital Numbers";
   font-style: normal;
   font-weight: 400;
   src:
   url(../font/digital-numbers.woff2) format('woff2'),
}

/* --- FARBEN ---*/
:root {
  --orange:         #F35900;
  --orange-dunkel:  #7D2F02;
  --blau-dunkel:    #181819;
  --beige:          #CBBDA0;
  --beige-dunkel:   #645D4F;
  --weiss:          #F0EBE7;
  --grau-hell:      #CDCDCD;
  --grau-dunkel:    #808080;
  --schwarz:        #000;
  --display-gruen:  #78E3A1;
  --display-dunkel: #232624;
  --base-length:      80vh;
  --base-length-s:    8vh;
}




.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

body{
    font-family: "Inter", Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    background-color: var(--beige-dunkel);
    margin: 0;
    padding: 0;
    color: var(--blau-dunkel);
}
.shadow{
    min-width: 100vw;
    min-height: 100vh;
    box-shadow: inset 0 0  250px 25px rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 4rem;
    background-color: var(--beige);
}

#taschenrechner{
    border-radius: calc(var(--base-length)*0.06);;
    background-color: var(--orange);
    width: calc(var(--base-length)*0.6);
    height: var(--base-length);
    box-shadow: 0 24px 20px -15px rgba(0, 0, 0, 0.25),
                0 24px 34px 0 rgba(0, 0, 0, 0.14),
                inset -5px -11px 24px 0 rgba(0, 0, 0, 0.24),
                inset 7px 7px 14px 0 rgba(241, 132, 68, 0.7),
                4px 10px 64px 17px rgba(0, 0, 0, 0.12),
                0 0 44px 6px rgba(0, 0, 0, 0.35) ;
    padding: calc(var(--base-length-s)/7);
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
}
h1{
    font-size: calc(var(--base-length)*0.02);
    background-color: var(--blau-dunkel);
    color: var(--orange);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    padding: calc(var(--base-length-s)*0.06) calc(var(--base-length-s)*0.14);
    border-radius: calc(var(--base-length-s)*0.2) ;
    margin-right: calc(var(--base-length-s)/4);
}
#dunkelblau{
    background-color: var(--blau-dunkel);
    height: calc(var(--base-length-s)*8.19);
    width: 100%;
    border-radius: calc(var(--base-length-s)/2);
    border: 1px solid var(--schwarz);
    padding: calc(var(--base-length-s)/10);
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-length-s)/3.8);
    justify-content: start;
    align-content: center;
}
#display-outer{
    border-radius: calc(var(--base-length-s)/2.4);
    width: 100%;
    height: calc(var(--base-length-s)*1.37);
    background: linear-gradient(0deg,rgba(25, 25, 25, 1) 0%, rgba(10, 10, 10, 1) 100%);
    padding: calc(var(--base-length-s)/35);
    display: flex;
    align-items:stretch;
}
#display-inner{
    
    background: linear-gradient(0deg,rgba(0, 0, 0, 1) 0%, rgba(102, 102, 102, 1) 100%);
    padding: calc(var(--base-length-s)/35);
    border-radius: calc(var(--base-length-s)/2.5);
    width: 100%;
    display: flex;
    align-items:stretch;

}
#display{
    font-family: "Digital Numbers", "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(var(--base-length-s)/1.75);
    border-radius: calc(var(--base-length-s)/2.7);
    background: 
        linear-gradient(180deg,rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.08) 18%, rgba(255, 255, 255, 0) 20%),
        radial-gradient(145% 159.4% at 90% 115%, rgba(255, 255, 255, 0.00) 81.25%, rgba(255, 255, 255, 0.40) 97.6%),
        radial-gradient(94.48% 73.4% at 43.38% 42.93%, rgba(255, 255, 255, 0.00) 84.13%, rgba(255, 255, 255, 0.30) 98%),
        linear-gradient(180deg,rgba(31, 26, 33, 1) 0%, rgba(25, 34, 39, 1) 100%);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0 calc(var(--base-length-s)/2.69);
    color: var(--display-dunkel);
    
    
}
#dark-screen{
    color: var(--display-dunkel);
    position: absolute;
    z-index: 10;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
#number{
    
    color: var(--display-gruen);
    z-index: 50;
}

.dot{
    /*
    letter-spacing: calc(-1*(var(--base-length-s)/17.5));
    */
    display: inline-block;
    margin: 0 calc(-1*(var(--base-length-s)/35));

}
ul#buttons{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: calc(var(--base-length-s)/3);
    justify-content: center;
}
ul#buttons li{
    cursor: pointer;
    list-style: none;
    background-color: var(--blau-dunkel);
    color: var(--weiss);
    width: calc(var(--base-length-s)/1.06);
    height: calc(var(--base-length-s)/1.06);
    border-radius: calc(var(--base-length-s)/2.12);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 350;
    font-size: calc(var(--base-length-s)/2);
    line-height: calc(var(--base-length-s)/2);
    text-align: center;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 62.12%), var(--blau-dunkel);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.95), 0 2px 1px 0 rgba(157, 157, 193, 0.25) inset;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
ul#buttons li:active{
    border: 1px solid var(--schwarz);
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.00) 62.12%), var(--blau-dunkel);
    box-shadow: 0 2px 1px 0 rgba(157, 157, 193, 0.25) inset;
}
ul#buttons li.btn-white{
    background-color: var(--weiss);
    color: var(--blau-dunkel);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 62.12%), var(--weiss);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.95), 0 2px 1px 0 rgba(255, 255, 255, 0.70) inset;
}
ul#buttons li.btn-beige{
    background-color: var(--beige);
    color: var(--blau-dunkel);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 62.12%), var(--beige);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.95), 0 2px 1px 0 rgba(255, 255, 255, 0.50) inset;
}

ul#buttons li.btn-white:active{
    border: 1px solid var(--schwarz);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.00) 62.12%), var(--weiss);
    box-shadow:  0 2px 1px 0 rgba(255, 255, 255, 0.70) inset;
}
ul#buttons li.btn-beige:active{
    color: var(--blau-dunkel);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 62.12%), var(--beige);
    box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.50) inset;
}
#color-select{
    background-color: var(--blau-dunkel);
    box-shadow: 0 24px 34px 0 rgba(0, 0, 0, 0.14),
                0 24px 20px -15px rgba(0, 0, 0, 0.25);
    border-radius: 1.25rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    color: var(--beige);
    padding: 1.5rem 1.25rem ;
}

#color-select h2{
    font-size: 0.875rem;
    margin-top: 0;
    text-transform: uppercase;
}
#color-select ul{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
}
#color-select ul li{
    list-style: none;
    width: 64px;
    height: 34px;
    border-radius: 17px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.00) 62.12%), var(--beige);
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.95), 0 2px 1px 0 rgba(255, 255, 255, 0.50) inset;
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 10px;
}
#color-select ul li.active-color{
    border: 1px solid var(--schwarz);
    box-shadow: 0 2px 1px 0 rgba(255, 255, 255, 0.20) inset;
}
#color-select ul li#orange{
    background-color: var(--orange);
}
#color-select ul li#grau{
    background-color: var(--grau-hell);
}
#color-select ul li#beige{
    background-color: var(--beige);
}
.diode-outer{
    width: 14px;
    height: 14px;
    border-radius: 7px;

    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.diode-middle{
    width: 12px;
    height: 12px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(70.96% 70.96% at 37.5% 33.33%, rgba(255, 255, 255, 0.00) 84.13%, rgba(255, 255, 255, 0.30) 98%), radial-gradient(65.88% 65.88% at 62.5% 62.5%, rgba(255, 255, 255, 0.00) 81.25%, rgba(255, 255, 255, 0.40) 97.6%), #131719;

}
.diode-inner{
    width: 10px;
    height: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: 
        
        linear-gradient(180deg,rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.08) 18%, rgba(255, 255, 255, 0) 20%),
        radial-gradient(145% 159.4% at 90% 115%, rgba(255, 255, 255, 0.00) 81.25%, rgba(255, 255, 255, 0.40) 97.6%),
        radial-gradient(94.48% 73.4% at 43.38% 42.93%, rgba(255, 255, 255, 0.00) 84.13%, rgba(255, 255, 255, 0.30) 98%),
        linear-gradient(219deg, #732635 15%, rgba(44, 53, 57, 0.7) 25%,rgba(44, 53, 57, 0.2) 50%, rgba(44, 53, 57, 0.7) 74%, #075A5C 90%),
        linear-gradient(180deg,rgba(31, 26, 33, 1) 0%, rgba(25, 34, 39, 1) 100%);
}
#color-select ul li.active-color .diode-outer{
    background: white;
    box-shadow: 0 0 5px 3px #FBF3B0;
    border: 1px solid rgba(0, 0, 0, 0.05);
}
#color-select ul li.active-color .diode-middle{
    background: white;
    
}
#color-select ul li.active-color .diode-inner{
    background: white;
}
@media (orientation: portrait) {
    :root {
  --base-length:      90vw;
  --base-length-s:    9vw;
}
.shadow{
    padding: 2rem 0;
    flex-direction: column;
    gap: 2rem;
}
#color-select{
    position: inherit;
}

}
@media only screen and (max-width: 600px){
    :root {
  --base-length:      140vw;
  --base-length-s:    14vw;
}
  .shadow{
    box-shadow: inset 0 0  70px 5px rgba(0,0,0,0.7);
    padding: 2rem 0;
    flex-direction: column;
    gap: 2rem;
}
}